/* Site-wide Styles */

.sticky-wrapper,
.sticky-footer
{
   font-family: Arial, sans-serif;
   font-size: 81%;
   color: #515D6B;
}

.sticky-wrapper a,
.sticky-wrapper a:visited,
.sticky-wrapper a:hover,
.sticky-footer a,
.sticky-footer a:visited,
.sticky-footer a:hover,
.yui-panel-container a,
.yui-panel-container a:visited,
.yui-panel-container a:hover
{
   color: #000;
   text-decoration: none;
}

.sticky-wrapper a:hover,
.sticky-footer a:hover,
.yui-panel-container a:hover
{
   text-decoration: underline;
}

.sticky-wrapper h1,
.yui-panel-container h1
{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 146.5%;
   font-weight: normal;
}

.sticky-wrapper h2,
.yui-panel-container h2
{
   font-size: 123.1%;
}

h2.thin,
h3.thin,
h4.thin   
{
   font-weight: normal;
}

h1 .light,
h1 .lighter,
h2 .light,
h2 .lighter
{
   color: #c7dbeb;
}

.sticky-wrapper h3,
.yui-panel-container h3
{
   font-size: 108%;
}

.sticky-wrapper h4,
.yui-panel-container h4
{
   font-weight: bold;
}

h3 .light,
h3 .lighter,
h4 .light,
h4 .lighter
{
   color: #a2a2a2;
}

h1.dark,
h2.dark,
h3.dark
{
   color: #333333;
}

.sticky-wrapper hr
{
   color: #E4E4E4;
   background-color: #E4E4E4;
}

.sticky-wrapper label,
.share-form .viewmode-label
{
   color: #606060;
   margin-right: 0.4em;
}

.alfresco-share .sticky-wrapper
{
   background-color: #fff;
}

.label
{
   font-weight: bold;
}

.error
{
   background: white !important;
   color: red !important;
   font-weight: bold;
   padding: 0.2em 1em;
}

.error-alt
{
   background-color: red !important;
   color: white !important;
   font-weight: bold;
   padding: 0.2em 1em;
}

.light
{
   font-weight: normal;
}

.lighter
{
   font-size: 93%;
   font-weight: normal;
}

.faded
{
   color: #aaa;
}

/* DASHLETS */

.dashlet,
.yui-skin-spotfire .yui-resize div.yui-resize-handle-b
{
   border: 1px solid #bababa;
}

.yui-skin-spotfire .yui-resize div.yui-resize-handle-b
{
   border-top: medium none;
}

.dashlet .title
{
   background-color: #d7e0e7;
   background-image: url(images/dashlet-title-bg.png);
   background-repeat: repeat-x;
   color: #262d35;
}

.dashlet .feed
{
   background-image: url(images/feed-icon-16.png);
   background-repeat: no-repeat;
}

.dashlet .toolbar
{
   background-color: #f6f6f6;
   border-bottom: 1px solid #d3d3d3;
}

/*.dashlet .toolbar a
{
   color: #5497c4;
}
*/

.dashlet .body
{
   background-color: #F9FCFD;
}

.dashlet .welcome-body a,
.dashlet .welcome-body a:visited,
.dashlet .welcome-body a:hover
{
   color: #6CA5CE;
}

.dashlet .detail-list-item
{
   border-bottom: 1px dashed #e9e9e9;
}

.yui-skin-spotfire .yui-panel
{
   border-bottom: medium none;
}

.yui-skin-spotfire .mask
{
   opacity: 0.2;
}

.yui-skin-spotfire .yui-panel .hd,
.yui-skin-spotfire .yui-panel .form-buttons,
.yui-skin-spotfire .yui-panel .bdft,
.yui-skin-spotfire .yui-panel .ft
{
   color: #515D6B;
   background: #E3EBEC;
   border-bottom: 1px solid #C4C5C5;
   border-left-color: #C4C5C5;
   border-right-color: #C4C5C5;
}

.yui-skin-spotfire .yui-panel .hd
{
   font-size: 123.1%;
   font-weight: bold;
   border-bottom: 1px solid #C4C5C5;
}

.yui-skin-spotfire .yui-panel .form-buttons,
.yui-skin-spotfire .yui-panel .bdft
{
   font-size: 100%;
   border-top: 1px solid #C4C5C5;
}

.yui-skin-spotfire .yui-panel div.form-fields
{
   border-bottom: none;
}

.yui-skin-spotfire .yui-panel .ft
{
   border-top: 1px solid #C4C5C5;
   padding: 5px;
}

.yui-skin-spotfire .yui-panel .bd
{
   color: #515D6B;
   background-color: #F9FBFD;
   border-left-color: #C4C5C5;
   border-right-color: #C4C5C5;
}

.yui-skin-spotfire .yui-panel .bd .yui-resize .yui-resize-handle
{
   background-color: #F9FBFD;
}

/* Data Lists: DataTable (Needs to appear before yui-dt-highlighted rule) */

.yui-skin-spotfire .datagrid tr.yui-dt-even
{
   background-color: #ffffff;
}
.yui-skin-spotfire .datagrid tr.yui-dt-even td.yui-dt-asc,
.yui-skin-spotfire .datagrid tr.yui-dt-even td.yui-dt-desc
{
   background-color: #f8f8f8;
}

.yui-skin-spotfire .datagrid tr.yui-dt-odd
{
   background-color: #f8f8f8;
}
.yui-skin-spotfire .datagrid tr.yui-dt-odd td.yui-dt-asc,
.yui-skin-spotfire .datagrid tr.yui-dt-odd td.yui-dt-desc
{
   background-color: #f0f0f0;
}

/* End Data Lists */

.yui-skin-spotfire .yui-dt-data tr.yui-dt-highlighted td.yui-dt-asc,
.yui-skin-spotfire .yui-dt-data tr.yui-dt-highlighted td.yui-dt-desc
{
   background-color: #f5faff;
   cursor: auto;
}

.yui-skin-spotfire .yui-dt-message,
.yui-skin-spotfire .yui-dt-message tr.yui-dt-highlighted
{
   background-color: white;
}

/* Style the default message  */

.yui-skin-spotfire #message .bd
{
   background-color: #808080;
   color: white;
}

.yui-skin-spotfire #message .bd span.wait
{
   background-image: url(images/wait.gif);
   background-repeat: no-repeat;
}

.yui-skin-spotfire .yui-overlay-hidden #message .bd span.wait
{
   display: none;
}

/* Style the default prompt and user input pop-ups */

.yui-skin-spotfire #prompt,
.yui-skin-spotfire #userInput
{
   border-top: 1px solid #C4C5C5;
   border-bottom: 1px solid #C4C5C5;
   background-color: #E3EBEC;
}

.yui-skin-spotfire #prompt .bd,
.yui-skin-spotfire #userInput .bd
{
   
}

.yui-skin-spotfire #prompt .ft,
.yui-skin-spotfire #userInput .ft
{
   border-left: 1px solid #c4c5c5;
   border-right: 1px solid #c4c5c5;
   background-color: #e3ebec;
}

/* Page title and navigation styles */

.page-title
{
   background-color: #6CA5CE;
   border-width: 1px 0 0 0;
   color: white;
}

.page-title a,
.page-title a:visited
{
   color: #000;
}

.page-title a:hover
{
   color: #fff;
}

.page-title h1 span
{
   color: #fff;
}

.site-navigation
{
   background-color: #73B4DA;
   background-image: url(../../components/images/navigation-bg.png);
   border-bottom: 1px solid #4B86ae;
   border-top: 1px dotted #bbd6e7;
   color: white;
}

span.navigation-separator,
span.navigation-item,
span.navigation-item-alt
{
   color: #9fc6e1;
}

span.navigation-item a,
span.navigation-item a:visited
{
   color: #0D3B57;
}

span.navigation-item a.active-page,
span.navigation-item a.active-page:visited,
span.navigation-item a:hover
{
   color: #fff;
}

span.navigation-separator
{
   border-right: 1px dotted #457A9C;
}

span.navigation-separator-alt
{
   border-right: 1px solid #457A9C;
}

/* Standard toolbars */

.share-toolbar,
.toolbar
{
   border-bottom: 1px solid #C7CCCE;
}

.share-toolbar .action-bar,
.toolbar .action-bar
{
   border-right: 1px solid #9eb0b7;
}

.share-toolbar .separator,
.toolbar .separator
{
   border: medium none;
   border-right: 1px dotted #c7ccce;
}

.share-toolbar .backLink
{
   background-image: url(../../components/images/back-arrow.png);
   background-position: left center;
   background-repeat: no-repeat;
   color: #333333;
   padding: 0 5px 0 19px;
   margin-right: 5px;
}

.share-toolbar .forwardLink
{
   background-image: url(../../components/images/forward-arrow-16.png);
   background-position: right center;
   background-repeat: no-repeat;
   color: #333333;
   padding: 0 21px 0 5px;
   margin-right: 5px;
}

.sticky-wrapper strong
{
   font-weight: bold;
}

.sticky-wrapper em
{
   font-style: italic;
}

.rich-content a.wiki-missing-page
{
   color: #CC2200 !important;
}

/* Share forms */

.share-form .form-container .form-fields
{
   border: 1px solid #c2c2c2 !important;
   background-color: #f5fff2;
}

.yui-skin-spotfire .yui-navset .yui-content
{
   background: #e4f7d4;
}

.sticky-wrapper input[type="text"],
.sticky-wrapper input[type="password"],
.sticky-wrapper textarea,
.sticky-wrapper select,
.yui-panel-container input[type="text"],
.yui-panel-container input[type="password"],
.yui-panel-container textarea,
.yui-panel-container select,
.form-element-border,
.share-form .yui-dt table   
{
   border: 1px solid #C5D6E2;
   font-weight: normal;
}

.share-form .yui-dt table td.yui-dt-last 
{
   border-right: none;
}

.form-element-background-color
{
   background-color: #FFFFFF;
}

/* same as theme-color-2 */

.toolbar .link a:hover,
.members-bar .member-link a:hover
{
   color: #038603;
}

/* Richtext Editor Plug-ins */

.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon,
span.mce_alfresco-imagelibrary
{
   background-position: 0 0 !important;
   background-image: url(images/alfresco-imagelib.png) !important;
}

.mce_alfresco-imagelibrary img
{
   background-position: 0px 2px !important;
}

.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon,
span.mce_alfresco-linklibrary
{
   background-position: 0 0 !important;
   background-image: url(images/alfresco-linklib.png) !important;
}

.mce_alfresco-linklibrary img
{
   background-position: 0px 2px !important;
}

/* Point the YUI button to the themed sprite */

.yui-skin-spotfire .yui-button
{
   background-image: url(images/sprite.png);
}

/* Override YUI Button styles for - flat button style */

.yui-skin-spotfire div.flat-button span.yui-button
{
   background: none;
   border-color: transparent;
}

.yui-skin-spotfire div.flat-button span.yui-button span.first-child
{
   border-color: transparent;
}

.yui-skin-spotfire div.flat-button span.yui-button-hover
{
   background: transparent url(images/sprite.png) repeat-x scroll 0 0;
   border-color: #808080;
}

.yui-skin-spotfire div.flat-button span.yui-button-hover span.first-child
{
   border-color: #808080;
}

.yui-skin-spotfire div.flat-button span.yui-radio-button-checked,
.yui-skin-spotfire div.flat-button span.yui-checkbox-button-checked
{
   background: #6ca5ce none;
}

/* Override checked styles where specified */

.yui-skin-spotfire .no-check-bg div.flat-button span.yui-radio-button-checked,
.yui-skin-spotfire .no-check-bg div.flat-button span.yui-checkbox-button-checked,
.yui-skin-spotfire .no-check-bg div.flat-button span.yui-radio-button-checked,
.yui-skin-spotfire .no-check-bg div.flat-button span.yui-checkbox-button-checked
{
   background: none;
}

/* Ensure hover state can be activated */

.yui-skin-spotfire .no-check-bg div.flat-button span.yui-button-hover
{
   background: transparent url(images/sprite.png) repeat-x scroll 0 0;
   border-color: #808080;
}

/* Override YUI Button styles for - title button style */

.yui-skin-spotfire .title-button .yui-button
{
   background: transparent url(images/title-button-bg.png) repeat-x 0 0;
}

.yui-skin-spotfire .title-button a:hover
{
   color: #000;
}

.yui-skin-spotfire .title-button .yui-button .first-child,
.yui-skin-spotfire .title-button .yui-button
{
   border-color: #286A99;
}

/* Paginator link styling */

.yui-skin-spotfire .yui-pg-container span
{
   color: #606060;
}

.yui-skin-spotfire .yui-pg-container span.yui-pg-page.yui-pg-current-page
{
   color: #333333;
   font-weight: bold;
}

.yui-skin-spotfire .yui-pg-container a.yui-pg-first,
.yui-skin-spotfire .yui-pg-container a.yui-pg-previous,
.yui-skin-spotfire .yui-pg-container a.yui-pg-page,
.yui-skin-spotfire .yui-pg-container a.yui-pg-next,
.yui-skin-spotfire .yui-pg-container a.yui-pg-last
{
   border-color: #CBCBCB;
   color: #2B6EB5;
   text-decoration: none;
}

.yui-skin-spotfire .yui-pg-container a.yui-pg-first:hover,
.yui-skin-spotfire .yui-pg-container a.yui-pg-previous:hover,
.yui-skin-spotfire .yui-pg-container a.yui-pg-page:hover,
.yui-skin-spotfire .yui-pg-container a.yui-pg-next:hover,
.yui-skin-spotfire .yui-pg-container a.yui-pg-last:hover
{
   text-decoration: underline;
}

/* A combination of a link and splitbutton wrapped inside a span */

.yui-skin-spotfire .link-menu-button .yui-button span button
{
   color: #4C4C4C;
   font-size: 2px;
   background-image: url(images/link-menu-button-arrow.png);
   background-position: center center;
}

body.yui-skin-spotfire .link-menu-button .yui-button.yui-button-hover
{
   background-color: #FFFFFF;
   border: 1px solid #7BA9CE;
}

body.yui-skin-spotfire .link-menu-button.link-menu-button-menu-active .yui-button.yui-button-hover
{
   border-color: transparent;
   background-color: transparent;
}

.yui-skin-spotfire .link-menu-button .yui-button span.first-child,
.yui-skin-spotfire .link-menu-button .yui-button.yui-button-activeoption span.first-child,
.yui-skin-spotfire .link-menu-button .yui-button.yui-button-hover span.first-child
{
   border-width: 0;
}

.yui-skin-spotfire .link-menu-button span.link-menu-button-link
{
   border-right: 1px #BDBDBD solid;
}

body.yui-skin-spotfire .link-menu-button.link-menu-button-menu-active
{
   background-color: #FFFFFF;
   border: 1px solid #7BA9CE;
}

.yui-skin-spotfire .link-menu-button.link-menu-button-menu-active .yui-button.yui-menu-button-hover
{
   border: 1px solid #FFFFFF;
}

.topiclist .yui-dt-liner
{
   padding: 0;
}

/* blog/wiki action items links */

body.yui-skin-spotfire .wikipage .editPage a:hover,
body.yui-skin-spotfire .wikipage .deletePage a:hover,
body.yui-skin-spotfire .wikipage .detailsPage a:hover,
body.yui-skin-spotfire .nodeEdit .onEditBlogPost a:hover,
body.yui-skin-spotfire .nodeEdit .onDeleteBlogPost a:hover
{
   
}

/* YUI Menu */

body.yui-skin-spotfire .yuimenu .bd
{
   border: 1px solid #6CA5CE;
}

/* YUI Menu roll over state */

body.yui-skin-spotfire .yuimenuitemlabel
{
   text-decoration: none;
}

body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem-selected
{
   background-color: #6CA5CE;
}

body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel,
body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel a,
body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem-selected div .yuimenuitemlabel,
body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem-selected div .yuimenuitemlabel a
{
   color: #6CA5CE;
}

body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem-selected .yuimenuitemlabel,
body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem-selected .yuimenuitemlabel a,
body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem-selected div ul li.yuimenuitem-selected .yuimenuitemlabel,
body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem-selected div ul li.yuimenuitem-selected .yuimenuitemlabel a,
body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem-selected span.description
{
   color: #FFF;
}

body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel-disabled,
body.yui-skin-spotfire .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel-disabled a
{
   color: #A6A6A6;
   cursor: default;
}

/*end YUI Menu */

/* Location */

.yui-skin-spotfire .location-path,
.yui-skin-spotfire .location-site
{
   background-position: left 50%;
   background-repeat: no-repeat;
   padding: 2px 0 2px 20px;
}

.yui-skin-spotfire .location-none
{
   margin-left: 0.5em;
}

.yui-skin-spotfire .location-path
{
   background-image: url(../../components/documentlibrary/images/folder-closed-16.png);
   margin-left: 0.5em;
}

.yui-skin-spotfire .location-site
{
   background-image: url(../../components/images/site-16.png);
}

/* end Location*/

/* Doclist */

body.yui-skin-spotfire .doclist .more-actions a:active,
body.yui-skin-spotfire .doclist .more-actions a:hover
{
   background-color: #6CA5CE;
}

body.yui-skin-spotfire .doclist div.more-actions
{
   border: 1px solid #6CA5CE;
}

body.yui-skin-spotfire .doclist .action-set a:active,
body.yui-skin-spotfire .doclist .action-set a:hover,
body.yui-skin-spotfire .doclist .action-set .highlighted,
#divCalendarContent .yui-dt-col-actions a:active,
#divCalendarContent .yui-dt-col-actions a:hover
{
   border: 1px solid #6CA5CE;
}

body.yui-skin-spotfire .doclist tr.yui-dt-highlighted
{
   background-color: #f4faff;
}

body.yui-skin-spotfire .yui-dt-data tr.yui-dt-highlighted,
body.yui-skin-spotfire .links-body tr.links-selected-row,
body.yui-skin-spotfire .over,
.topicview
{
   background-color: #f4faff;
}

body.yui-skin-spotfire .doclist tr.yui-dt-odd.yui-dt-highlighted td.yui-dt-last,
body.yui-skin-spotfire .doclist tr.yui-dt-even.yui-dt-highlighted td.yui-dt-last
{
   border-left: 1px solid #c5e6e9;
}

body.yui-skin-spotfire .categoryview .category .ygtvtn,
body.yui-skin-spotfire .categoryview .category .ygtvtm,
body.yui-skin-spotfire .categoryview .category .ygtvtmh, body.yui-skin-spotfire .categoryview .category .ygtvtmhh,
body.yui-skin-spotfire .categoryview .category .ygtvtp,
body.yui-skin-spotfire .categoryview .category .ygtvtph, body.yui-skin-spotfire .categoryview .category .ygtvtphh,
body.yui-skin-spotfire .categoryview .category .ygtvln,
body.yui-skin-spotfire .categoryview .category .ygtvlm,
body.yui-skin-spotfire .categoryview .category .ygtvlmh, body.yui-skin-spotfire .categoryview .category .ygtvlmhh,
body.yui-skin-spotfire .categoryview .category .ygtvlp,
body.yui-skin-spotfire .categoryview .category .ygtvlph, body.yui-skin-spotfire .categoryview .category .ygtvlphh,
body.yui-skin-spotfire .categoryview .category .ygtvdepthcell
{
   background-image: url(images/categoryview-sprite.gif);
}

/* end doclist */

/* invite page */

.inviteusersbyemail .byemailbody
{
   background-color: #fbfbfb;
}

.people-finder .results
{
   background-color: #f6f9fc;
}

/* filter list link */

.yui-skin-spotfire li.selected,
.yui-skin-spotfire .treeview .selected,
.yui-skin-spotfire .categoryview .selected,
body.yui-skin-spotfire .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected
{
   background-color: #dceaf4;
}

/* these rules need to be separate from the above for ie6 */
.yui-skin-spotfire .treeview .selected > table,
.yui-skin-spotfire .categoryview .selected > table
{
   background-color: #dceaf4;
}

.yui-skin-spotfire .filter a.disabled,
.yui-skin-spotfire .filter a.disabled:active,
.yui-skin-spotfire .filter a.disabled:hover,
.yui-skin-spotfire .filter a.disabled:visited,
.yui-skin-spotfire .tags a.disabled,
.yui-skin-spotfire .tags a.disabled:active,
.yui-skin-spotfire .tags a.disabled:hover,
.yui-skin-spotfire .tags a.disabled:visited
{
   color: #a6a6a6;
   cursor: not-allowed;
}

.yui-skin-spotfire .filter a:hover,
.yui-skin-spotfire .tags a:hover
{
   text-decoration: none;
}

/* Link color */

body.yui-skin-spotfire .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected a,
li.selected a.filter-link,
li.selected a.tool-link, 
li.selected a.archive-link,
li.selected a.tag-link,
li.selected span.tag,
body.yui-skin-spotfire .treeview .selected table .ygtvlabel, 
body.yui-skin-spotfire .treeview .selected table .ygtvlabel:link, 
body.yui-skin-spotfire .treeview .selected table .ygtvlabel:visited, 
body.yui-skin-spotfire .treeview .selected table .ygtvlabel:hover,
body.yui-skin-spotfire .categoryview .selected table .ygtvlabel,
body.yui-skin-spotfire .categoryview .selected table .ygtvlabel:link,
body.yui-skin-spotfire .categoryview .selected table .ygtvlabel:visited,
body.yui-skin-spotfire .categoryview .selected table .ygtvlabel:hover
{
   
}

body.yui-skin-spotfire .treeview .selected div.ygtvchildren table .ygtvlabel, 
body.yui-skin-spotfire .treeview .selected div.ygtvchildren table .ygtvlabel:link, 
body.yui-skin-spotfire .treeview .selected div.ygtvchildren table .ygtvlabel:visited, 
body.yui-skin-spotfire .treeview .selected div.ygtvchildren table .ygtvlabel:hover,
body.yui-skin-spotfire .categoryview .selected div.ygtvchildren table .ygtvlabel,
body.yui-skin-spotfire .categoryview .selected div.ygtvchildren table .ygtvlabel:link,
body.yui-skin-spotfire .categoryview .selected div.ygtvchildren table .ygtvlabel:visited,
body.yui-skin-spotfire .categoryview .selected div.ygtvchildren table .ygtvlabel:hover
{
   
}

.yui-skin-spotfire .node .nodeTitle a,
.yui-skin-spotfire .node .nodeURL a,
.yui-skin-spotfire .nodeAttrValue a,
.yui-skin-spotfire .nodeFooter .tag a,
.yui-skin-spotfire .yui-dt-highlighted .detail .tag a,
.yui-skin-spotfire .yui-dt-highlighted .detail .category a,
.yui-skin-spotfire .yui-dt-highlighted .detail .item-social a,
.yui-skin-spotfire a.wiki-tag-link,
.yui-skin-spotfire .node .userLink a,
.yui-skin-spotfire .site-members h3 a,
.yui-skin-spotfire .yui-calendar td.calcell a,
.yui-skin-spotfire .doclist .documents a,
.yui-skin-spotfire .attrValue a,
.yui-skin-spotfire .detail .item a,
.yui-skin-spotfire .info .meta-value a,
.yui-skin-spotfire .rules-none a,
.yui-skin-spotfire .agendaview a,
.yui-skin-spotfire a.previousEvents,
.yui-skin-spotfire a.nextEvents,
.yui-skin-spotfire div.channels a
{
   color: #4F94C9;
}

.yui-skin-spotfire .detail .tag a,
.yui-skin-spotfire .detail .category a,
.yui-skin-spotfire .detail .item-social a,
.yui-skin-spotfire .document-tags .tag
{
   color: #333;
}

.yui-skin-spotfire .detail .tag a,
.yui-skin-spotfire .document-tags .tag
{
   background-color: #e8e8e8;
}

.yui-skin-spotfire .postview .nodeTitle a
{
   color: #606060;
}

.yui-skin-spotfire .site-navigation
{
   background-image: url(images/navigation-bg.png);
}

.yui-skin-spotfire .rules-list a
{
   color: #515D6B;
}

/* Calendar */

/* Day/Week timed events */
.fc-content .fc-event-skin
{
   background-color: #6CA5CE; /* Theme Colour 1 */
   border-color: #4C86AA;
   color: #FFFFFF;
}

/* Month view timed events */
.fc-content .fc-view-month .fc-event-skin
{
   background-color: transparent;
   border-color: transparent;
   color: #6CA5CE;
}

/* All day events */
.fc-content .fc-event-allday .fc-event-skin,
.fc-content a.fc-event.fc-event-allday,
.fc-content .fc-view-month .fc-event-multiday .fc-event-skin,
.fc-content .fc-view-month a.fc-event.fc-event-multiday
{
   background-color: #6CA5CE;
   border-color: #6CA5CE;
   color: #FFFFFF;
}


.fc-content a.fc-event-skin:hover
{
   color: #FFFFFF;
}

/* End Calendar */

/* Document */

.document-version
{
   background-color: #aaa;
   color: #fff;
}

.cmis .body a
{
   color: #6CA5CE;
}

/* Twisters */

.alfresco-twister-open
{
   background: transparent url(images/expanded.png) no-repeat scroll 0 50%;
}

.alfresco-twister-closed
{
   background: transparent url(images/collapsed.png) no-repeat scroll 0 50% !important;
}

/* Preview Tooltip */

.yui-tt .bd
{
   background-color: #f4faff !important;
   border: 1px solid #333 !important;
   padding: 4px 4px 1px !important;
   text-align: left;
}

/* Theme colors */

.theme-color-1,
a.theme-color-1,
a.theme-color-1:visited,
a.theme-color-1:hover
{
   color: #6CA5CE;
}

.theme-color-2,
a.theme-color-2,
a.theme-color-2:visited,
a.theme-color-2:hover
{
   color: #038603;
}

.theme-color-3,
a.theme-color-3,
a.theme-color-3:visited,
a.theme-color-3:hover
{
   color: #C7DBEB;
}

.theme-color-4,
a.theme-color-4,
a.theme-color-4:visited,
a.theme-color-4:hover
{
   color: #009300;
}

/* Theme background colors */

.theme-color-5,
a.theme-color-5,
a.theme-color-5:visited,
a.theme-color-5:hover
{
   color: #fff;
}

.theme-bg-color-1,
div.theme-bg-color-1
{
   background-color: #6CA5CE;
}

.theme-bg-color-2,
div.theme-bg-color-2
{
   background-color: #fffbdd;
}

.theme-bg-color-3,
div.theme-bg-color-3
{
   background-color: #DEE8ED;
}

.theme-bg-color-4,
div.theme-bg-color-4
{
   background-color: #EBEFF1;
}

.theme-bg-color-5,
div.theme-bg-color-5
{
   background-color: #2B6EB5;
}

.theme-bg-color-6,
div.theme-bg-color-6
{
   background-color: #F4FAFF;
}

/* Used for editing - same as meta data fields */

.theme-bg-color-7,
div.theme-bg-color-7
{
   background-color: #F5FFF2;
}


.theme-bg-1
{

}

.theme-bg-2
{
   background-color: #E3EAEC;
   background-image: -webkit-gradient(
       linear,
       left top,
       left bottom,
       color-stop(0, rgb(246,246,246)),
       color-stop(1, rgb(233,232,234))
   );
   background-image: -moz-linear-gradient(
       center top,
       rgb(246,246,246) 0%,
       rgb(233,232,234) 100%
   );
}

.theme-bg-selected
{
   background-color: #73B4DA;
}

/* Theme border type/colors */

.theme-border-1
{
   border-color: #457f63;
   border-style: dotted;
}

.theme-border-2
{
   border-color: #2B6EB5;
}

.theme-border-3
{
   border: 1px solid #c6c6c6 !important;
}

.theme-border-4
{
   border: 1px solid #DDD6A0;
}

.docfolder-label
{
   overflow:auto;
}

.docfolder-input
{
   width: 203px; 
   vertical-align: top; 
   margin-top: 2px;
}

.tree-div
{
   height: 200px;
   overflow: auto;
   margin-left: 5px;
}

.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover
{
   background-color: #F9FBFD;
   cursor: pointer;
   margin-left: 2px;
   text-decoration: none;
}
