.login-panel
{
   text-align: left;
   font: "Lucida Grande", Arial, sans-serif;
}

.login-panel input
{
   border: 1px solid #C5D6E2;
   padding: 2px;
   font-weight: normal;
   font: 99% "Lucida Grande", Arial, sans-serif;
}

.alfresco-share .sticky-wrapper
{
  font: normal 12px/18pt "Lucida Grande", Arial, sans-serif;
  background: scroll bottom left #FFFFFF;
  color: #343434;
  margin: 0;
  text-align: center
}

.yui-panel-container.shadow .underlay
{
   display: none;
}

.yui-skin-sam .yui-panel
{
   border-style: none;
}

.login-panel
{
  background: #E5EDF3 0 0 repeat scroll;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-left: 20em;
  filter: alpha(opacity = 98);
  opacity: 0.98;
  padding: 1.5em 0 1em 1.5em;
  width: 352px;
  height: 289px;
}

.login-button
{
  background-color: #e7e7e7;
  border: 1px solid #c9C9c9;
  border-radius: 3px;
  box-shadow: 0 10px 8px #fff inset;
  color: #000;
  cursor: pointer;
  font-size: .8em;
  font-weight: bold;
  margin: 0 .9em .9em 0;
  padding: .2em .6em;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff  
}

.login-copyright
{
   font-family: Arial,Helvetica,sans-serif;
   font-size: 11px;
   font-weight: normal;
   color: #959a9b;
}

.login-logo
{
   position: absolute;
   top: 16px;
   height: 64px;
   width: 450px;
   background: transparent url("./images/logo.png") no-repeat;
}