/* Site-wide Styles */

.sticky-wrapper,
.sticky-footer
{
   font-family: Arial, sans-serif;
   font-size: 81%;
   color: #000000;
}

.sticky-wrapper a,
.sticky-wrapper a:visited,
.sticky-wrapper a:hover,
.sticky-footer a,
.sticky-footer a:visited,
.sticky-footer a:hover,
.yui-panel-container a,
.yui-panel-container a:visited,
.yui-panel-container a:hover
{
   color: #000;
   text-decoration: none;
}

.sticky-wrapper a:hover,
.sticky-footer a:hover,
.yui-panel-container a:hover
{
   text-decoration: underline;
}

.sticky-wrapper h1,
.yui-panel-container h1
{
   font-family: Helvetica, Arial, sans-serif;
   font-size: 146.5%;
   font-weight: normal;
}

.sticky-wrapper h2,
.yui-panel-container h2
{
   font-size: 123.1%;
}

h2.thin
{
   font-weight: normal;
}

h1 .light,
h1 .lighter,
h2 .light,
h2 .lighter
{
   color: #c7dbeb;
}

.sticky-wrapper h3,
.yui-panel-container h3
{
   font-size: 108%;
}

.sticky-wrapper h4,
.yui-panel-container h4
{
   font-weight: bold;
}

h3 .light,
h3 .lighter,
h4 .light,
h4 .lighter
{
   color: #a2a2a2;
}

.sticky-wrapper hr
{
   color: #E4E4E4;
   background-color: #E4E4E4;
}

.sticky-wrapper label,
.share-form .viewmode-label
{
   color: #606060;
   margin-right: 0.4em;
}

.alfresco-share .sticky-wrapper
{
   background-color: #fff;
}

.label
{
   font-weight: bold;
}

.error
{
   background: white !important;
   color: red !important;
   font-weight: bold;
   padding: 0.2em 1em;
}

.error-alt
{
   background-color: red !important;
   color: white !important;
   font-weight: bold;
   padding: 0.2em 1em;
}

.light
{
   font-weight: normal;
}

.lighter
{
   font-size: 93%;
   font-weight: normal;
}

.faded
{
}

/* DASHLETS */

.dashlet
{
   border: 1px solid #232323;
   background-color: white;
}

.dashlet .title
{
   background-color: #d7e0e7;
   background-image: url(images/dashlet-title-bg.png);
   background-repeat: repeat-x;
   color: #ffffff;
}

.dashlet .feed
{
   background-image: url(images/feed-icon-16.png);
   background-repeat: no-repeat;
}

.dashlet .toolbar
{
   background-color: #f6f6f6;
   border-bottom: 1px solid #7e7e7e;
}

.dashlet .title a.title-link
{
   color: white;
}

.dashlet .body
{
   background-image: url(images/dashlet-bg.png);
   background-repeat: repeat-x;
   background-color: white;
}

.dashlet .welcome-body a,
.dashlet .welcome-body a:visited,
.dashlet .welcome-body a:hover
{
   color: #000000;
   text-decoration: underline;
}

.dashlet .welcome-body a:hover
{
   background-color: #F1FF00;
}

.dashlet .detail-list-item
{
   border-bottom: 1px dashed #575757;
}

/* Wiki dashlet text */

body.yui-skin-sekTheme .wiki .title a
{
   color: #fff;
}

/* dashlets */

body.yui-skin-sekTheme .dashlet .body a
{
   text-decoration: underline;
}

body.yui-skin-sekTheme .dashlet .body a:hover
{
   background-color: #F1FF00;
}

.yui-skin-sekTheme .yui-dt-message
{
   background-color: inherit;
}

.yui-skin-sekTheme .yui-panel
{
   border-bottom: medium none;
}

.yui-skin-sekTheme .mask
{
   opacity: 0.2;
}

.yui-skin-sekTheme .yui-panel .hd,
.yui-skin-sekTheme .yui-panel .form-buttons,
.yui-skin-sekTheme .yui-panel .bdft,
.yui-skin-sekTheme .yui-panel .ft
{
   color: #515D6B;
   background: #E3EBEC;
   border-bottom: 1px solid #C4C5C5;
   border-left-color: #C4C5C5;
   border-right-color: #C4C5C5;
}

.yui-skin-sekTheme .yui-panel .hd
{
   font-size: 123.1%;
   font-weight: bold;
   border-bottom: 1px solid #C4C5C5;
}

.yui-skin-sekTheme .yui-panel .form-buttons,
.yui-skin-sekTheme .yui-panel .bdft
{
   font-size: 100%;
   border-top: 1px solid #C4C5C5;
}

.yui-skin-sekTheme .yui-panel div.form-fields
{
   border-bottom: none;
}

.yui-skin-sekTheme .yui-panel .ft
{
   border-top: 1px solid #C4C5C5;
   padding: 5px;
}

.yui-skin-sekTheme .yui-panel .bd
{
   color: #515D6B;
   background-color: #F9FBFD;
   border-left-color: #C4C5C5;
   border-right-color: #C4C5C5;
}

.yui-skin-sekTheme .yui-panel .bd .yui-resize .yui-resize-handle
{
   background-color: #F9FBFD;
}

/* Data Lists: DataTable (Needs to appear before yui-dt-highlighted rule) */

.yui-skin-sekTheme .datagrid tr.yui-dt-even
{
   background-color: #ffffff;
}
.yui-skin-sekTheme .datagrid tr.yui-dt-even td.yui-dt-asc,
.yui-skin-sekTheme .datagrid tr.yui-dt-even td.yui-dt-desc
{
   background-color: #f8f8f8;
}

.yui-skin-sekTheme .datagrid tr.yui-dt-odd
{
   background-color: #f8f8f8;
}
.yui-skin-sekTheme .datagrid tr.yui-dt-odd td.yui-dt-asc,
.yui-skin-sekTheme .datagrid tr.yui-dt-odd td.yui-dt-desc
{
   background-color: #f0f0f0;
}

/* End Data Lists */

.yui-skin-sekTheme .yui-dt-data tr.yui-dt-highlighted td.yui-dt-asc,
.yui-skin-sekTheme .yui-dt-data tr.yui-dt-highlighted td.yui-dt-desc
{
   background-color: #f5faff;
   cursor: auto;
}

.yui-skin-sekTheme .yui-dt-message,
.yui-skin-sekTheme .yui-dt-message tr.yui-dt-highlighted
{
   background-color: white;
}

/* Style the default message  */

.yui-skin-sekTheme #message .bd
{
   background-color: #808080;
   color: white;
}

.yui-skin-sekTheme #message .bd span.wait
{
   background-image: url(images/wait.gif);
   background-repeat: no-repeat;
}

.yui-skin-sekTheme .yui-overlay-hidden #message .bd span.wait
{
   display: none;
}

/* Style the default prompt */

.yui-skin-sekTheme #prompt,
.yui-skin-sekTheme #userInput
{
   border-top: 1px solid #C4C5C5;
   border-bottom: 1px solid #C4C5C5;
   background-color: #E3EBEC;
}

.yui-skin-sekTheme #prompt .bd,
.yui-skin-sekTheme #userInput .bd
{

}

.yui-skin-sekTheme #prompt .ft,
.yui-skin-sekTheme #userInput .ft
{
   border-left: 1px solid #c4c5c5;
   border-right: 1px solid #c4c5c5;
   background-color: #e3ebec;
}

/* Page title and navigation styles */

.page-title
{
   background-color: #6CA5CE;
   border-top: 1px dotted #45637f;
   color: white;
}

.page-title a,
.page-title a:visited
{
   color: #000000;
}

.page-title a:hover
{
   color: #fff;
}

.page-title h1 span
{
   color: #fff;
}

.site-navigation
{
   background-color: #000;
   background-image: url(../../components/images/navigation-bg.png);
   border-bottom: 1px solid #000000;
   border-top: 1px solid #393939;
   color: white;
}

span.navigation-separator,
span.navigation-item,
span.navigation-item-alt
{
   color: #9fc6e1;
}

span.navigation-item a,
span.navigation-item a:visited
{
   color: #bfbfbf;
}

span.navigation-item a.active-page,
span.navigation-item a.active-page:visited,
span.navigation-item a:hover
{
   color: #f1ff00;
}

span.navigation-separator
{
   border-right: 1px dotted #4f4f4f;
   border-top: medium none;
}

span.navigation-separator-alt
{
   border-right: 1px solid #4f4f4f;
}

/* Standard toolbars */

.share-toolbar,
.toolbar
{
   border-bottom: 1px solid #C7CCCE;
}

.share-toolbar .action-bar,
.toolbar .action-bar
{
   border-right: 1px solid #9FB9AB;
}

.share-toolbar .separator,
.toolbar .separator
{
   border: medium none;
   border-right: 1px dotted #457A9C;
}


.share-toolbar .backLink
{
   background-image: url(../../components/images/back-arrow.png);
   background-position: left center;
   background-repeat: no-repeat;
   color: #333333;
   padding: 0 5px 0 19px;
   margin-right: 5px;
}

.share-toolbar .forwardLink
{
   background-image: url(../../components/images/forward-arrow-16.png);
   background-position: right center;
   background-repeat: no-repeat;
   color: #333333;
   padding: 0 21px 0 5px;
   margin-right: 5px;
}

.sticky-wrapper strong
{
   font-weight: bold;
}

.sticky-wrapper em
{
   font-style: italic;
}

.rich-content a.wiki-missing-page
{
   color: #CC2200 !important;
}

/* Share forms */

.share-form .form-container .form-fields
{
   border: 1px solid #c2c2c2 !important;
   background-color: #ffffff;
}

.yui-skin-sekTheme .yui-navset .yui-content
{
   background: #fff;
}

.sticky-wrapper input[type="text"],
.sticky-wrapper input[type="password"],
.sticky-wrapper textarea,
.sticky-wrapper select,
.yui-panel-container input[type="text"],
.yui-panel-container input[type="password"],
.yui-panel-container textarea,
.yui-panel-container select,
.form-element-border,
.share-form .yui-dt table
{
   border: 1px solid #838383;
   font-weight: normal;
}

.share-form .yui-dt table td.yui-dt-last
{
   border-right: none;
}

.form-element-background-color
{
   background-color: #FFFFFF;
}

#loginform input#username
{
   border: 1px solid #C5D6E2;
}

/* same as theme-color-2 */

.toolbar .link a:hover,
.members-bar .member-link a:hover
{
   color: #009300;
}

/* Richtext Editor Plug-ins */

.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon,
span.mce_alfresco-imagelibrary
{
   background-position: 0 0 !important;
   background-image: url(images/alfresco-imagelib.png) !important;
}

.mce_alfresco-imagelibrary img
{
   background-position: 0px 2px !important;
}

.yui-toolbar-container .yui-toolbar-alfresco-imagelib span.yui-toolbar-icon,
span.mce_alfresco-linklibrary
{
   background-position: 0 0 !important;
   background-image: url(images/alfresco-linklib.png) !important;
}

.mce_alfresco-linklibrary img
{
   background-position: 0px 2px !important;
}

/* Point the YUI button to the themed sprite */

.yui-skin-sekTheme .yui-button
{
   background-image: url(images/sprite.png);
}

/* Override YUI Button styles for - flat button style */

.yui-skin-sekTheme div.flat-button span.yui-button
{
   background: none;
   border-color: transparent;
}

.yui-skin-sekTheme div.flat-button span.yui-button span.first-child
{
   border-color: transparent;
}

.yui-skin-sekTheme div.flat-button span.yui-button-hover
{
   background: transparent url(images/sprite.png) repeat-x scroll 0 0;
   border-color: #808080;
}

.yui-skin-sekTheme div.flat-button span.yui-button-hover span.first-child
{
   border-color: #808080;
}

.yui-skin-sekTheme div.flat-button span.yui-radio-button-checked,
.yui-skin-sekTheme div.flat-button span.yui-checkbox-button-checked
{
   background: #000 none;
   color: #fff;
}
/* Override checked styles for doclist */

.yui-skin-sekTheme .no-check-bg div.flat-button span.yui-radio-button-checked,
.yui-skin-sekTheme .no-check-bg div.flat-button span.yui-checkbox-button-checked,
.yui-skin-sekTheme .no-check-bg div.flat-button span.yui-radio-button-checked,
.yui-skin-sekTheme .no-check-bg div.flat-button span.yui-checkbox-button-checked
{
   background: none;
}

/* Ensure hover state can be activated */

.yui-skin-sekTheme .no-check-bg div.flat-button span.yui-button-hover
{
   background: transparent url(images/sprite.png) repeat-x scroll 0 0;
   border-color: #808080;
}

/* Override YUI Button styles for - title button style */

.yui-skin-sekTheme .title-button .yui-button
{
   background: #ccc url(images/title-button-bg.png) repeat-x 0 0;
   border-color: #6e6e6e;
}

.yui-skin-sekTheme .title-button a:hover
{
   color: #000;
}

.yui-skin-sekTheme .title-button .yui-button .first-child
{
   border-color: #6e6e6e;
}

/* Paginator link styling */

.yui-skin-sekTheme .yui-pg-container span
{
   color: #606060;
}

.yui-skin-sekTheme .yui-pg-container span.yui-pg-page.yui-pg-current-page
{
   color: #333333;
   font-weight: bold;
}

.yui-skin-sekTheme .yui-pg-container a.yui-pg-first,
.yui-skin-sekTheme .yui-pg-container a.yui-pg-previous,
.yui-skin-sekTheme .yui-pg-container a.yui-pg-page,
.yui-skin-sekTheme .yui-pg-container a.yui-pg-next,
.yui-skin-sekTheme .yui-pg-container a.yui-pg-last
{
   color: #000000;
}

/* A combination of a link and splitbutton wrapped inside a span */

.yui-skin-sekTheme .link-menu-button .yui-button span button
{
   color: #4C4C4C;
   font-size: 2px;
   background-image: url(images/link-menu-button-arrow.png);
   background-position: center center;
}

body.yui-skin-sekTheme .link-menu-button .yui-button.yui-button-hover
{
   background-color: #FFFFFF;
   border: 1px solid #000;
}

body.yui-skin-sekTheme .link-menu-button.link-menu-button-menu-active .yui-button.yui-button-hover
{
   border-color: transparent;
   background-color: transparent;
}

.yui-skin-sekTheme .link-menu-button .yui-button span.first-child,
.yui-skin-sekTheme .link-menu-button .yui-button.yui-button-activeoption span.first-child,
.yui-skin-sekTheme .link-menu-button .yui-button.yui-button-hover span.first-child
{
   border-width: 0;
}

.yui-skin-sekTheme .link-menu-button span.link-menu-button-link
{
   border-right: 1px #BDBDBD solid;
}

body.yui-skin-sekTheme .link-menu-button.link-menu-button-menu-active
{
   background-color: #FFFFFF;
   border: 1px solid #000;
}

body.yui-skin-sekTheme .link-menu-button.link-menu-button-menu-active .yui-button.yui-button-hover
{
   border-color: transparent;
   background-color: transparent;
}

.topiclist .yui-dt-liner
{
   padding: 0;
}

/* blog/wiki action items links */

body.yui-skin-sekTheme .wikipage .editPage a:hover,
body.yui-skin-sekTheme .wikipage .deletePage a:hover,
body.yui-skin-sekTheme .wikipage .detailsPage a:hover,
body.yui-skin-sekTheme .nodeEdit .onEditBlogPost a:hover,
body.yui-skin-sekTheme .nodeEdit .onDeleteBlogPost a:hover
{
   background-color: #f1ff00;
   text-decoration: underline;
}

.webview .title a.configure
{
   text-decoration: underline;
}

/* YUI Menu */

body.yui-skin-sekTheme .yuimenu .bd
{
   border: 1px solid #000;
}

/* YUI Menu roll over state */

body.yui-skin-sekTheme .yuimenuitemlabel
{
   text-decoration: none;
}

body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem-selected
{
   background-color: #000;
}

body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel,
body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem .yuimenuitemlabel a,
body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem-selected div .yuimenuitemlabel,
body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem-selected div .yuimenuitemlabel a
{
   color: #000;
}

body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem-selected .yuimenuitemlabel,
body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem-selected .yuimenuitemlabel a,
body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem-selected div ul li.yuimenuitem-selected .yuimenuitemlabel,
body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem-selected div ul li.yuimenuitem-selected .yuimenuitemlabel a,
body.yui-skin-sekTheme .yuimenu .bd ul li.yuimenuitem-selected span.description
{
   color: #FFF;
}

/*end YUI Menu */

/* Location */

.yui-skin-sekTheme .location-path,
.yui-skin-sekTheme .location-site
{
   background-position: left 50%;
   background-repeat: no-repeat;
   padding: 2px 0 2px 20px;
}

.yui-skin-sekTheme .location-none
{
   margin-left: 0.5em;
}

.yui-skin-sekTheme .location-path
{
   background-image: url(../../components/documentlibrary/images/folder-closed-16.png);
   margin-left: 0.5em;
}

.yui-skin-sekTheme .location-site
{
   background-image: url(../../components/images/site-16.png);
}

/* end Location*/

/* Doclist */

body.yui-skin-sekTheme .doclist .more-actions a:active,
body.yui-skin-sekTheme .doclist .more-actions a:hover
{
   background-color: #000000;
}

body.yui-skin-sekTheme .doclist div.more-actions
{
   border: 1px solid #000000;
}

body.yui-skin-sekTheme .doclist .action-set a:active,
body.yui-skin-sekTheme .doclist .action-set a:hover,
body.yui-skin-sekTheme .doclist .action-set .highlighted,
#divCalendarContent .yui-dt-col-actions a:active,
#divCalendarContent .yui-dt-col-actions a:hover
{
   border: 1px solid #000000;
}

body.yui-skin-sekTheme .yui-dt-data tr.yui-dt-highlighted,
body.yui-skin-sekTheme .doclist tr.yui-dt-odd.yui-dt-highlighted,
body.yui-skin-sekTheme .doclist tr.yui-dt-even.yui-dt-highlighted,
body.yui-skin-sekTheme .links-body tr.links-selected-row,
body.yui-skin-sekTheme .over,
.postview,
.topicview
{
   background-color: #FEFFF1;
}

.site-members .search-controls
{
   background-color: #FFF;
}

body.yui-skin-sekTheme .my-sites a.favourite-site.enabled,
body.yui-skin-sekTheme .my-sites a.favourite-site
{
   text-decoration: none;
}

body.yui-skin-sekTheme .doclist tr.yui-dt-odd.yui-dt-highlighted td.yui-dt-last,
body.yui-skin-sekTheme .doclist tr.yui-dt-even.yui-dt-highlighted td.yui-dt-last
{
   border-left: 1px solid #FEFFF1;
}

body.yui-skin-sekTheme .categoryview .category .ygtvtn,
body.yui-skin-sekTheme .categoryview .category .ygtvtm,
body.yui-skin-sekTheme .categoryview .category .ygtvtmh, body.yui-skin-sekTheme .categoryview .category .ygtvtmhh,
body.yui-skin-sekTheme .categoryview .category .ygtvtp,
body.yui-skin-sekTheme .categoryview .category .ygtvtph, body.yui-skin-sekTheme .categoryview .category .ygtvtphh,
body.yui-skin-sekTheme .categoryview .category .ygtvln,
body.yui-skin-sekTheme .categoryview .category .ygtvlm,
body.yui-skin-sekTheme .categoryview .category .ygtvlmh, body.yui-skin-sekTheme .categoryview .category .ygtvlmhh,
body.yui-skin-sekTheme .categoryview .category .ygtvlp,
body.yui-skin-sekTheme .categoryview .category .ygtvlph, body.yui-skin-sekTheme .categoryview .category .ygtvlphh,
body.yui-skin-sekTheme .categoryview .category .ygtvdepthcell
{
   background-image: url(images/categoryview-sprite.gif);
}

/* end doclist */

/* invite page */

.inviteusersbyemail .byemailbody
{
   background-color: #fbfbfb;
}

.people-finder .results
{
   background-color: #F6FEF5;
}

/* filter list link */

.yui-skin-sekTheme li.selected,
body.yui-skin-sekTheme .treeview .selected,
body.yui-skin-sekTheme .categoryview .selected,
body.yui-skin-sekTheme .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected
{
   background-color: #000;
   color: #f9f9f9;
}

/* these rules need to be separate from the above for ie6 */
.yui-skin-sekTheme .treeview .selected > table,
.yui-skin-sekTheme .categoryview .selected > table
{
   background-color: #000;
}

.yui-skin-sekTheme .filter a.disabled,
.yui-skin-sekTheme .filter a.disabled:active,
.yui-skin-sekTheme .filter a.disabled:hover,
.yui-skin-sekTheme .filter a.disabled:visited,
.yui-skin-sekTheme .tags a.disabled,
.yui-skin-sekTheme .tags a.disabled:active,
.yui-skin-sekTheme .tags a.disabled:hover,
.yui-skin-sekTheme .tags a.disabled:visited
{
   color: #a6a6a6;
   cursor: not-allowed;
}

.yui-skin-sekTheme .filter a:hover,
.yui-skin-sekTheme .tags a:hover
{
   text-decoration: none;
}

/* Link color */

body.yui-skin-sekTheme .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected a,
li.selected a.filter-link,
li.selected a.tool-link,
li.selected a.archive-link,
li.selected a.tag-link,
li.selected span.tag,
body.yui-skin-sekTheme .treeview .selected table .ygtvlabel,
body.yui-skin-sekTheme .treeview .selected table .ygtvlabel:link,
body.yui-skin-sekTheme .treeview .selected table .ygtvlabel:visited,
body.yui-skin-sekTheme .treeview .selected table .ygtvlabel:hover,
body.yui-skin-sekTheme .categoryview .selected table .ygtvlabel,
body.yui-skin-sekTheme .categoryview .selected table .ygtvlabel:link,
body.yui-skin-sekTheme .categoryview .selected table .ygtvlabel:visited,
body.yui-skin-sekTheme .categoryview .selected table .ygtvlabel:hover
{
   color: #fff;
}

body.yui-skin-sekTheme .treeview .selected div.ygtvchildren table .ygtvlabel,
body.yui-skin-sekTheme .treeview .selected div.ygtvchildren table .ygtvlabel:link,
body.yui-skin-sekTheme .treeview .selected div.ygtvchildren table .ygtvlabel:visited,
body.yui-skin-sekTheme .treeview .selected div.ygtvchildren table .ygtvlabel:hover,
body.yui-skin-sekTheme .categoryview .selected div.ygtvchildren table .ygtvlabel,
body.yui-skin-sekTheme .categoryview .selected div.ygtvchildren table .ygtvlabel:link,
body.yui-skin-sekTheme .categoryview .selected div.ygtvchildren table .ygtvlabel:visited,
body.yui-skin-sekTheme .categoryview .selected div.ygtvchildren table .ygtvlabel:hover
{
   color: #000;
}

.yui-skin-sekTheme .node .nodeTitle a,
.yui-skin-sekTheme .node .nodeURL a,
.yui-skin-sekTheme .nodeAttrValue a,
.yui-skin-sekTheme .nodeFooter .tag a,
.yui-skin-sekTheme .yui-dt-highlighted .detail .tag a,
.yui-skin-sekTheme .yui-dt-highlighted .detail .category a,
.yui-skin-sekTheme .yui-dt-highlighted .detail .item-social a,
.yui-skin-sekTheme a.wiki-tag-link,
.yui-skin-sekTheme .node .userLink a,
.yui-skin-sekTheme .site-members h3 a,
.yui-skin-sekTheme .doclist .documents a,
.yui-skin-sekTheme .attrValue a,
.yui-skin-sekTheme .rules-none a,
.yui-skin-sekTheme .agendaview a,
.yui-skin-sekTheme a.previousEvents,
.yui-skin-sekTheme a.nextEvents,
.yui-skin-default div.channels a,
.yui-skin-default .info-balloon a
{
   color: #000000;
   text-decoration: underline;
}

.yui-skin-sekTheme .detail .tag a,
.yui-skin-sekTheme .detail .category a,
.yui-skin-sekTheme .detail .item-social a,
.yui-skin-sekTheme .document-tags .tag
{
   color: #333;
}

.yui-skin-sekTheme .detail .tag a,
.yui-skin-sekTheme .document-tags .tag
{
   background-color: #e8e8e8;
}

.yui-skin-sekTheme .yui-calendar td.calcell a,
{
   color: #000000;
   text-decoration: none;
}

.yui-skin-sekTheme .site-navigation
{
   background-image: url(./images/navigation-bg.png);
}

.cmis .body a
{
   color: #000;
   text-decoration: underline;
}

.yui-skin-sekTheme .rules-list a
{
   color: #000000;
}

/* Calendar */

/* Day/Week timed events */
.fc-content .fc-event-skin
{
   background-color: #000000; /* Theme Colour 1 */
   border-color: #FFFFFF;
   color: #FFFFFF;
}

/* Month view timed events */
.fc-content .fc-view-month .fc-event-skin
{
   background-color: transparent;
   border-color: transparent;
   color: #000000;
}

/* All day events */
.fc-content .fc-event-allday .fc-event-skin,
.fc-content a.fc-event.fc-event-allday,
.fc-view-month .fc-content .fc-event-multiday .fc-event-skin,
.fc-view-month .fc-content a.fc-event.fc-event-multiday
{
   background-color: #000000;
   border-color: #000000;
   color: #FFFFFF;
}


.fc-content a.fc-event-skin:hover
{
   color: #FFFFFF;
}

/* End Calendar */
/* end calendar */


/* Document */

.document-version
{
   background-color: #000;
   color: #fff;
}


.groups .yui-columnbrowser .yui-carousel-content li.yui-columnbrowser-column a.yui-columnbrowser-item-selected
{
   color: #fff;
}

/* Twisters */

.alfresco-twister-open
{
   background: transparent url(images/expanded.png) no-repeat scroll 0 50%;
}

.alfresco-twister-closed
{
   background: transparent url(images/collapsed.png) no-repeat scroll 0 50% !important;
}

/* Preview Tooltip */

.yui-tt .bd
{
   background-color: #f4faff !important;
   border: 1px solid #333 !important;
   padding: 4px 4px 1px !important;
   text-align: left;
}

/* Theme colors */

.theme-color-1,
a.theme-color-1,
a.theme-color-1:visited,
a.theme-color-1:hover
{
   color: #000000;
}

.theme-color-2,
a.theme-color-2,
a.theme-color-2:visited,
a.theme-color-2:hover
{
   color: #038603;
}

.theme-color-3,
a.theme-color-3,
a.theme-color-3:visited,
a.theme-color-3:hover
{
   color: #a9a9a9;
}

.theme-color-4,
a.theme-color-4,
a.theme-color-4:visited,
a.theme-color-4:hover
{
   color: #009300;
}

.theme-color-5,
a.theme-color-5,
a.theme-color-5:visited,
a.theme-color-5:hover
{
   color: #fff;
}

/* Theme background colors */

.theme-bg-color-1,
div.theme-bg-color-1
{
   background-color: #000000;
}

.theme-bg-color-2,
div.theme-bg-color-2
{
   background-color: #fffbdd;
}

.theme-bg-color-3,
div.theme-bg-color-3
{

}

.theme-bg-color-4,
div.theme-bg-color-4
{

}

.theme-bg-color-5,
div.theme-bg-color-5
{

}

.theme-bg-color-6,
div.theme-bg-color-6
{
   background-color: #F4FAFF;
}

/* Used for editing - same as meta data fields */

.theme-bg-color-7,
div.theme-bg-color-7
{
   background-color: #F5FFF2;
}

.theme-bg-1
{

}

.theme-bg-2
{
   background-color: #E3EAEC;
   background-image: -webkit-gradient(
       linear,
       left top,
       left bottom,
       color-stop(0, rgb(246,246,246)),
       color-stop(1, rgb(233,232,234))
   );
   background-image: -moz-linear-gradient(
       center top,
       rgb(246,246,246) 0%,
       rgb(233,232,234) 100%
   );
}

.theme-bg-selected
{
   background-color: #000;
}

/* Theme border type/colors */

.theme-border-1
{

}

.theme-border-2
{

}

.theme-border-3
{
   border: 1px solid #c6c6c6 !important;
}

.theme-border-4
{
   border: 1px solid #DDD6A0;   
}

.docfolder-label
{
   overflow:auto;
}

.docfolder-input
{
   width: 203px; 
   vertical-align: top; 
   margin-top: 2px;
}

.tree-div
{
   height: 200px;
   overflow: auto;
   margin-left: 5px;
}

.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover
{
   background-color: #F9FBFD;
   cursor: pointer;
   margin-left: 2px;
   text-decoration: none;
}

/* SEK CSS */

ol.SETtree
{
	padding: 0 0 0 30px;
	width: 300px;
}

li.SETtree 	
{ 
	position: relative; 
	margin-left: -15px;
	list-style: none;
}

li.file
{
	margin-left: -1px !important;
}

li.file a
{
	background: url(/share/res/components/images/filetypes/generic-file-16.png) 0 0 no-repeat;
	//color: #fff;
	padding-left: 21px;
	text-decoration: none;
	display: block;
}

li.file a[href *= '.pdf']	{ background: url(/share/res/components/images/filetypes/pdf-file-16.png) 0 0 no-repeat; }

li.file a[href *= '.html']	{ background: url(/share/res/components/images/filetypes/html-file-16.png) 0 0 no-repeat; }

li.file a[href $= '.css']	{ background: url(/share/res/components/images/filetypes/generic-file-16.png) 0 0 no-repeat; }

li.file a[href $= '.js']		{ background: url(/share/res/components/images/filetypes/generic-file-16.png) 0 0 no-repeat; }

li.link
{
	margin-left: -1px !important;
}

li.link a
{
	background: url(/share/res/components/images/link-16.png) 0 0 no-repeat;
	//color: #fff;
	padding-left: 21px;
	text-decoration: none;
	display: block;
}

.SETtree li input
{
	position: absolute;
	left: 0;
	margin-left: 0;
	opacity: 0;
	z-index: 2;
	cursor: pointer;
	height: 1em;
	width: 1em;
	top: 0;
}

.SETtree li input + ol
{
	background: url(/share/res/components/images/collapsed.png) 40px 0 no-repeat;
	margin: -0.938em 0 0 -44px; /* 15px */
	height: 1em;
}

.SETtree li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }

.SETtree li label
{
	background: url(/share/res/components/images/filetypes/generic-folder-16.png) 15px 1px no-repeat;
	cursor: pointer;
	display: block;
	padding-left: 37px;
}

.SETtree li input:checked + ol
{
	background: url(/share/res/components/images/expanded.png) 40px 5px no-repeat;
	margin: -1.25em 0 0 -44px; /* 20px */
	padding: 1.563em 0 0 80px;
	height: auto;
}

.SETtree li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}

.SETtree li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

